<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>success Page</title>
    <link rel="stylesheet" href="/styles/success.css">
    <link rel="stylesheet" href="/styles/fonts.css" />
    <link rel="stylesheet" href="/styles/effects.css" />
</head>
<body>  
    <div class="overlay">
        <button class="close-button">×</button>
        <div class="success-icon">
            <div class="checkmark"></div>
        </div>
        <p class="message">
            Your submission has been completed successfully.
            <a href="/post">Go Back</a>
        </p>
    </div>
    
    
    <script src="scripts/script.js"></script>
  </body>
</html>

