<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post</title>
    <link rel="stylesheet" href="styles/post.css" />
    <link rel="stylesheet" href="styles/fonts.css" />
    <link rel="stylesheet" href="styles/effects.css" />
  </head>
  <body>
    <%- include("../partials/header") -%>

    <div class="container">
      <h2>Catalogue</h2>
      <form
        id="catalogue-form"
        action="/catalogue/submit"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="form-row">
          <div class="form-group">
            <label for="artist-name">Artist name</label>
            <input
              type="text"
              id="catalogue-artist-name"
              name="catalogueArtistName"
              required
            />
          </div>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="catalogueTitle" required />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="date">Date</label>
            <input
              type="date"
              id="date"
              name="catalogueDate"
              placeholder="MM/DD/YYYY"
              required
            />
          </div>
          <div class="form-group">
            <label for="medium">Medium</label>
            <input type="text" id="medium" name="catalogueMedium" required />
          </div>
          <div class="form-group">
            <label for="dim">Dimensions</label>
            <input type="text" id="dim" name="catalogueDim" required />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              name="catalogueDescription"
              id="catalogue-description"
              cols="90"
              rows="10"
            ></textarea>
          </div>
        </div>

        <div class="form-group upload-section">
          <label>Upload the Photo of Artwork</label>
          <div class="upload-area" id="catalogue-drop-zone">
            <input
              type="file"
              id="catalogue-file-input"
              name="catalogueImages"
              accept="image/*"
              multiple
              required
            />
            <button type="button" id="catalogue-browse-btn" class="browse-btn">
              Browse Files
            </button>
            <p>Drag and drop files here</p>
          </div>
          <div id="catalogue-file-list"></div>
        </div>

        <button type="submit" class="submit-btn">Submit</button>
      </form>
    </div>

    <div class="container listing">
      <h2>Listings</h2>
      <form
        id="listing-form"
        action="/listings/submit"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="form-row">
          <div class="form-group">
            <label for="artist-name">Artist name</label>
            <input
              type="text"
              id="listing-artist-name"
              name="listingArtistName"
              required
            />
          </div>
          <div class="form-group">
            <label for="title">Price</label>
            <input type="number" id="price" name="price" required />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="date">Date</label>
            <input
              type="date"
              id="date"
              name="listingDate"
              placeholder="MM/DD/YYYY"
              required
            />
          </div>
          <div class="form-group">
            <label for="medium">Medium</label>
            <input type="text" id="medium" name="listingMedium" required />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="medium">Title</label>
            <input type="text" id="title" name="listingTitle" required />
          </div>
          <div class="form-group">
            <label for="medium">Dimensions</label>
            <input type="text" id="dim" name="listingDim" required />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="last-name">Description</label>
            <textarea
              name="listingDescription"
              id="description"
              cols="90"
              rows="10"
            ></textarea>
          </div>
        </div>

        <div class="form-group upload-section">
          <label>Upload the Photo of Artwork</label>
          <div class="upload-area" id="listing-drop-zone">
            <input
              name="listingImages"
              type="file"
              id="listing-file-input"
              accept="image/*"
              multiple
              required
            />
            <button type="button" id="listing-browse-btn" class="browse-btn">
              Browse Files
            </button>
            <p>Drag and drop files here</p>
          </div>
          <div id="listing-file-list"></div>
        </div>

        <button type="submit" class="submit-btn">Submit</button>
      </form>
    </div>

    <div class="container gallery">
      <h2>Gallery</h2>
      <form
        id="gallery-form"
        action="/gallery/submit"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="form-group upload-section">
          <label>Upload the Photo of Artwork</label>
          <div class="upload-area" id="gallery-drop-zone">
            <input
              name="galleryImages"
              type="file"
              id="gallery-file-input"
              accept="image/*"
              multiple
              required
            />
            <button type="button" id="gallery-browse-btn" class="browse-btn">
              Browse Files
            </button>
            <p>Drag and drop files here</p>
          </div>
          <div id="gallery-file-list"></div>
          <button type="submit" class="submit-btn">Submit</button>
        </div>
      </form>
    </div>
    <div class="container gallery">
      <h2>Video Exhibitions</h2>
      <form
        action="/post-to-exhibitions/submit"
        id="exhibition-form"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="form-row">
          <div class="form-group">
            <label for="last-name">Description</label>
            <textarea
              name="exhibitionDescription"
              id="description"
              cols="90"
              rows="10"
            ></textarea>
          </div>
        </div>
        <div class="form-group upload-section">
          <label>Upload the Video of Artwork</label>
          <div class="upload-area" id="exhibition-drop-zone">
            <input
              name="exhibitionVideo"
              type="file"
              id="exhibition-file-input"
              accept="video/*"
              multiple
              required
            />
            <button type="button" id="exhibition-browse-btn" class="browse-btn">
              Browse Files
            </button>
            <p>Drag and drop files here</p>
          </div>

          <div id="exhibition-file-list"></div>
          <button type="submit" class="submit-btn">Submit</button>
        </div>
      </form>
    </div>

    <div class="post">
      <a href="/login">Admin Page</a>
    </div>

    <script src="scripts/script.js"></script>

    <%- include("../partials/footer") -%>
  </body>
</html>
