<div class="footer">
    <footer>
      <ul class="socials">
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Pinterest</a></li>
        <li><a href="#">YouTube</a></li>
        <li><a href="#">TikTok</a></li>
      </ul>
      <p>&copy; All images are copyrighted by Alex Garant.</p>
      <p>Built by Thanasis</p>
    </footer>
  </div>

  <script src="../../models/catalogueTemplate.js"></script>
  <script src="../../models/galleryTemplate.js"></script>
  <script src="../../models/listingTemplate.js"></script>
  <script src="../../models/exhibitionTemplate.js"></script>
  <script src="../../models/adminTemplate.js"></script>
  <script src="../../public/scripts/navBar.js"></script>
  <script src="../../public/scripts/script.js"></script>
  
</body>
</html>
