<div class="footer">
    <footer>
      <ul class="socials">
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Pinterest</a></li>
        <li><a href="#">YouTube</a></li>
        <li><a href="#">TikTok</a></li>
      </ul>
      <p>&copy; All images are copyrighted by Crownin.</p>
      <p>Built by Thanasis</p>
    </footer>
  </div>

  <script src="scripts/navBar.js"></script>
  <script src="scripts/script.js"></script>
