<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Navigation</title>
    <link rel="stylesheet" href="styles/navbar.css" />
    <link rel="stylesheet" href="styles/effects.css" />
    <link rel="stylesheet" href="styles/fonts.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amarante&family=Itim&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/your-fontawesome-kit.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="nav">
      <header>
        <div class="logo" class="unifrakturmaguntia-regular">
          <a href="/">CROWNIN ARTISTRY</a>
        </div>
      </header>
      <nav class="nav-links">
        <ul>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/gallery">GALLERY</a></li>
          <li><a href="/catalogue">CATALOGUE</a></li>
          <li><a href="/listings">LISTINGS</a></li>
          <li><a href="/exhibitions">EXHIBITIONS</a></li>
          <li><a href="/contact">CONTACT</a></li>
        </ul>
      </nav>

      <div class="menu-icon" id="menu-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="sidebar hidden" id="sidebar">
        <ul>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/gallery">GALLERY</a></li>
          <li><a href="/catalogue">CATALOGUE</a></li>
          <li><a href="/listings">LISTINGS</a></li>
          <li><a href="/exhibitions">EXHIBITIONS</a></li>
          <li><a href="/contact">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
