<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <link rel="stylesheet" href="styles/gallery.css" />
    <link rel="stylesheet" href="styles/fonts.css" />
    <link rel="stylesheet" href="styles/effects.css" />
  </head>
  <body>
    <%- include("../partials/header") -%>

    <main class="content">
      <div id="imageGallery" class="gallery fade-in">
        <% galleryItems.forEach(item => { %> <% if (item.images &&
        item.images.length > 0) { %>
        <img
          src="/gallery/image/<%= item._id %>/0"
          alt="Gallery Item"
          class="gallery-image"
        />
        <% } else { %>
        <div class="image-placeholder">No Image Available</div>
        <% } %> <% }) %>
      </div>
    </main>

    <script src="scripts/script.js"></script>

    <%- include("../partials/footer") -%>
  </body>
</html>
