<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <link rel="stylesheet" href="styles/gallery.css" />
    <link rel="stylesheet" href="styles/fonts.css" />
    <link rel="stylesheet" href="styles/effects.css" />
  </head>
  <body>
    <%- include("../partials/header") -%>

    <main class="content">
      <div id="imageGallery" class="gallery">
        <% galleryItems.forEach(item => { %>
        <img
          src="<%= item.imageUrl %>"
          alt="Gallery Item"
          class="gallery-image"
        />
        <% }) %>
      </div>
    </main>

    <script src="/scripts/script.js"></script>

    <%- include("../partials/footer") -%>
  </body>
</html>
