<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Crownin Artistry</title>
    <link rel="stylesheet" href="public/styles/index.css" />
    <link rel="stylesheet" href="public/styles/fonts.css" />
    <link rel="stylesheet" href="public/styles/effects.css" />
  </head>
  <body>
    <div class="overlay">
      <div class="background-carousel">
        <img id="imgg" src="" alt="bg" />
      </div>
      <div class="nav">
        <header>
          <div class="logo">
            <a href="/">CROWNIN ARTISTRY</a>
          </div>
          <nav class="glass-effect">
            <ul>
              <li><a href="/about">ABOUT</a></li>
              <li><a href="/gallery">GALLERY</a></li>
              <li><a href="/catalogue">CATALOGUE</a></li>
              <li><a href="/listings">LISTINGS</a></li>
              <li><a href="/exhibitions">EXHIBITIONS</a></li>
              <li><a href="/contact">CONTACT</a></li>
            </ul>
          </nav>
          <div class="menu-icon" id="menu-icon">
            <span></span>
            <span></span>
            <span></span>
          </div>
          
        </header>
        <div class="sidebar hidden"  id="sidebar">
          <ul>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/gallery">GALLERY</a></li>
            <li><a href="/catalogue">CATALOGUE</a></li>
            <li><a href="/listings">LISTINGS</a></li>
            <li><a href="/exhibitions">EXHIBITIONS</a></li>
            <li><a href="/contact">CONTACT</a></li>
          </ul>
        </div>
      </div>

      <main>
        <h1 class="">Welcome to Crownin Artistry</h1>
        <p class="">
          where imagination meets the canvas! Dive into a world of color and
          creativity. Here, every stroke tells a story, and each piece is a
          crown-worthy masterpiece. Ready to be inspired? Let’s paint some
          magic!
        </p>
        <a href="/listings" class="buy">BUY ART</a>
      </main>
    </div>

    <script src="scripts/navBar.js"></script>
    <script src="scripts/script.js"></script>
    <script src="scripts/carausel.js"></script>
  </body>
</html>
