<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listings</title>
    <link rel="stylesheet" href="styles/listing.css" />
    <link rel="stylesheet" href="styles/fonts.css" />
    <link rel="stylesheet" href="styles/effects.css" />
  </head>
  <body>
    <%- include("../partials/header") -%>

    <main class="content">
      <div id="art-listing" class="art-listing"></div>
    </main>

    <script src="listingTemplate.js"></script>
    <script src="scripts/script.js"></script>
  </body>
</html>

<%- include("../partials/footer") -%>
